<div class="d-flex justify-content-center">
    <img class="rounded-circle img-fluid" src="{{ app.user.profilePicture }}" alt="" style="height: 150px; width: 150px;">
</div>

{{ form_start(pictureForm) }}
{{ form_widget(pictureForm) }}
{{ form_end(pictureForm) }}
