<footer class="bg-dark">
	<div class="container">
		<div class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="{{ path('app.home') }}" class="nav-link px-2 text-muted">Home</a></li>
			{% if app.user %}
			<li class="nav-item"><a href="{{ path('auth.logout') }}" class="nav-link px-2 text-muted">Logout</a></li>
			{% else %}
			<li class="nav-item"><a href="{{ path('auth.login') }}" class="nav-link px-2 text-muted">Login</a></li>
			<li class="nav-item"><a href="{{ path('auth.register') }}" class="nav-link px-2 text-muted">Register</a></li>
			{% endif %}
			</ul>
			<p class="text-center text-muted">© 2022 Company, Inc</p>
		</div>
	</div>
</footer>