{% extends 'base.html.twig' %}

{% block title %}Error
{% endblock %}
{% block page %}Error 500
{% endblock %}

{% block body %}
    <a href="{{ path('app.home') }}" class="btn btn-primary">Back to the safe place</a>
{% endblock %}
